<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= t("hellow_our_user") %></h1>
    <p>
      <%= t("you_have_expired_card") %>
    </p>
    <p><%= t("thank_you_for_using")%> <%= link_to t('flash'), home_url %></p>
  </body>
</html>