 <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8">
      <h2><%= t('edit_user_head') %> </h2>
       <%= render 'form' %>
    </div>
  <div class="col-xs-6 col-md-4">
    <div class="btn-group-vertical" role="group" aria-label="...">
      <%= link_to t("all_c"), user_cards_path(current_user.id), class: "btn btn-default" %>
      <%= link_to t("add_c"), new_user_card_path(current_user.id), class: "btn btn-default" %>
    </div>
  </div>
</div>