<section>
  <p style="font-size: 22px;">
    <%= t('first_flash_manager')%>
  </p>
</section>
<% if current_user %>
<div class="card_trainer">
  <% if @card %>
    <%= render partial: "compare", locals: {card: @card, deck: @deck, flash: flash} %>
  <% else %>
    <p><%= t('no_card_to_verify') %></p>
  <% end %>
</div>
<% end %>
