<section>
  <p style="font-size: 22px;">
    <%= t('first_flash_manager')%>
  </p>
</section>
<% if current_user %>
  <% if @card %>
<div class="flash">
    <%= render partial: "flash", locals: { } %>
</div>
<div class="compare">
  <%= render partial: "trainer_form", locals: {card: @card, deck_id: @deck.id, } %>
</div>
  <% else %>
<p><%= t('no_card_to_verify') %></p>
  <% end %>
<% end %>
<p><div id="message"></div></p>